* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.topslider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 15px 50px;
  background-color: black;
  -webkit-transition: height .4s, padding .4s;
  transition: height .4s, padding .4s;
  z-index: 1;
}

.topslider.topslider--closed {
  height: 0px;
  padding: 0px 50px;
}

.topslider__inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.topslider:hover .topslidernavigator__prev {
  top: 0;
}

.topslider:hover .topslidernavigator__next {
  top: 0;
}

.topslide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0s, -webkit-transform .5s;
  transition: opacity 0s, -webkit-transform .5s;
  transition: transform .5s, opacity 0s;
  transition: transform .5s, opacity 0s, -webkit-transform .5s;
}

.topslide.topslide--active {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.topslide.topslide--next-forward {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.topslide.topslide--next-backward {
  opacity: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.topslide.topslide--previous-forward {
  opacity: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.topslide.topslide--previous-backward {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.topslide__header {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  font-weight: 400;
}

.topslide__text {
  font-size: 1.1rem;
  margin-top: 7px;
  font-weight: 300;
}

.topslidernavigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  width: 120px;
  background-color: black;
  z-index: 2;
  padding-right: 20px;
  overflow: hidden;
}

.topslidernavigator__cancel {
  cursor: pointer;
}

.topslidernavigator__prev, .topslidernavigator__next {
  position: relative;
  top: 25px;
  -webkit-transition: top .3s;
  transition: top .3s;
  cursor: pointer;
}

.topslidernavigator__prev {
  margin-right: 15px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.topslidernavigator__next {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.main {
  height: 200vh;
  margin-top: 65px;
  z-index: 2;
  -webkit-transition: margin-top .4s;
  transition: margin-top .4s;
}

.main.main--notopslider {
  margin-top: 0px;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 3;
}

.navigation__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  padding: 15px 50px;
  background-color: white;
  z-index: 3;
}

.navigation__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 25%;
}

.navigation__inner.navigation__inner--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.navigation__inner.navigation__inner--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}

.navigation__social-icon, .navigation__utils-icon {
  font-size: 18px;
  cursor: pointer;
}

.navigation__sublogo {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-transition: opacity .35s, bottom .3s;
  transition: opacity .35s, bottom .3s;
  z-index: 3;
}

.navigation__sublogo.navigation__sublogo--hidden {
  opacity: 0;
  bottom: 20px;
}

.navlinks {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  left: 0;
  bottom: -57px;
  padding: 0px 50px;
  width: 100%;
  overflow: hidden;
  height: 57px;
  background-color: white;
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
  z-index: 2;
}

.navlinks.navlinks--hidden {
  bottom: 0px;
}

.navlinks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 70px;
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.navlinks__list.navlinks__list--hidden {
  opacity: 0;
}

.navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 28px;
  font-size: 1.4rem;
  margin: 14px 0px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.navlink.navlink--active {
  border-top: 1px solid black;
}

.navlink.navlink--active:hover {
  color: black;
}

.navlink:hover {
  color: #94e5c8;
}

.innercontainer {
  padding-top: 57px;
}

.shop, .faq {
  padding: 120px 100px;
}

.header {
  text-align: center;
  letter-spacing: .6px;
}

.header.header--left {
  text-align: left;
}

.header.header--left .header__bottom-line {
  left: 0px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header.header--right {
  text-align: right;
}

.header.header--right .header__bottom-line {
  left: initial;
  right: 0px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header__small-title {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin: 15px 0px;
  padding-bottom: 10px;
}

.header__big-title {
  font-family: "Playfair display", sans-serif;
  font-size: 64px;
  font-weight: 500;
}

.header__bottom-line {
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 400;
}

.header__text {
  font-family: "Work Sans", sans-serif;
  margin: 24px auto 24px auto;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 150%;
  max-width: 700px;
}

.curtain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  z-index: 10;
  -webkit-animation-name: curtain-opacity;
          animation-name: curtain-opacity;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.curtain__icon {
  display: block;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 130px;
  opacity: 0;
  -webkit-animation-name: pandaHead-movement;
          animation-name: pandaHead-movement;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pandaHead-movement {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes pandaHead-movement {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes curtain-opacity {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes curtain-opacity {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=App.css.map */